@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "euclid-circular-a-regular";
  src: url("/fonts/euclid-circular-a-regular.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


:root {
  --main-bg-color: #642C27;
}

html,
body,
#__next {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
}

nav {
  background-color: var(--main-bg-color);
}

.nav-link {
  @apply text-xl;
  @apply opacity-80;
  @apply hover:opacity-40;
}

.nav-link-title {
  @apply text-2xl;
}

p,
a,
span,
button {
  color: white;
  @apply text-xl
}

footer > p, a {
  @apply text-sm
}

.text-link {
  @apply underline;
}

.alchemy-shadow {
  filter: 
    drop-shadow(0px 6px 80px rgba(0, 0, 0, 0.63)) 
    drop-shadow(0px 2.50666px 42.0065px rgba(0, 0, 0, 0.452878)) 
    drop-shadow(0px 1.34018px 30.9007px rgba(0, 0, 0, 0.375548)) 
    drop-shadow(0px 0.751293px 23.6768px rgba(0, 0, 0, 0.315)) 
    drop-shadow(0px 0.399006px 16.6974px rgba(0, 0, 0, 0.254452)) 
    drop-shadow(0px 0.166035px 8.91975px rgba(0, 0, 0, 0.177122));
}
